- provide(:title, 'About')
%h2
 Без посредников! Из рук в Руки! Продавайте, покупайте, размещайте и находите каналы, боты или услуги!
 Договаривайтесь напрямую с помощью удобно встроеного сервиса сообщений!
 Оставляйте честные отзывы на нашем удобном сайте TelegaGid!
