- provide(:title, 'Home')
.center.jumbotron
  %h1 Welcome to the Blog with Black List

  %h2
    This is a
    %a{:href => "https://github.com/wishka/BlackListBlog"} Home page
    of Blog with Black List


  = link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary"
