/ Pricing Plan Start
#price.container-fluid.py-5.wow.fadeInUp{"data-wow-delay" => "0.1s"}
  .container.py-5
    .section-title.text-center.position-relative.pb-3.mb-5.mx-auto{:style => "max-width: 600px;"}
      %h5.fw-bold.text-primary.text-uppercase Цены
      %h1.mb-0 Мы предлагаем конкурентные цены для наших клиентов
    .row.g-0
      .col-lg-4.wow.slideInUp{"data-wow-delay" => "0.6s"}
        .bg-light.rounded
          .border-bottom.py-4.px-5.mb-4
            %h4.text-primary.mb-1 Стандарт
            %small.text-uppercase Базовый план
          .p-5.pt-0
            %h1.display-5.mb-3
              %small.align-top{:style => "font-size: 22px; line-height: 45px;"}> $
              49.00
              %small.align-bottom{:style => "font-size: 16px; line-height: 40px;"} / Месяц
            .d-flex.justify-content-between.mb-3
              %span Поднятие в списке
              %i.fa.fa-check.text-primary.pt-1
            .d-flex.justify-content-between.mb-3
              %span Выделение цветом
              %i.fa.fa-check.text-primary.pt-1
            .d-flex.justify-content-between.mb-3
              %span Поддержка 24/7
              %i.fa.fa-times.text-danger.pt-1
            .d-flex.justify-content-between.mb-2
              %span VIP публикация
              %i.fa.fa-times.text-danger.pt-1
            %a.btn.btn-primary.py-2.px-4.mt-4{:href => ""} Заказать сейчас
      .col-lg-4.wow.slideInUp{"data-wow-delay" => "0.3s"}
        .bg-white.rounded.shadow.position-relative{:style => "z-index: 1;"}
          .border-bottom.py-4.px-5.mb-4
            %h4.text-primary.mb-1 Продвинутый
            %small.text-uppercase Больше опций для бизнеса
          .p-5.pt-0
            %h1.display-5.mb-3
              %small.align-top{:style => "font-size: 22px; line-height: 45px;"}> $
              99.00
              %small.align-bottom{:style => "font-size: 16px; line-height: 40px;"} / Месяц
            .d-flex.justify-content-between.mb-3
              %span Поднятие в списке
              %i.fa.fa-check.text-primary.pt-1
            .d-flex.justify-content-between.mb-3
              %span Выделение цветом
              %i.fa.fa-check.text-primary.pt-1
            .d-flex.justify-content-between.mb-3
              %span Поддержка 24/7
              %i.fa.fa-check.text-primary.pt-1
            .d-flex.justify-content-between.mb-2
              %span VIP публикация
              %i.fa.fa-times.text-danger.pt-1
            %a.btn.btn-primary.py-2.px-4.mt-4{:href => ""} Заказать сейчас
      .col-lg-4.wow.slideInUp{"data-wow-delay" => "0.9s"}
        .bg-light.rounded
          .border-bottom.py-4.px-5.mb-4
            %h4.text-primary.mb-1 Максимум
            %small.text-uppercase Лучшее предложение
          .p-5.pt-0
            %h1.display-5.mb-3
              %small.align-top{:style => "font-size: 22px; line-height: 45px;"}> $
              149.00
              %small.align-bottom{:style => "font-size: 16px; line-height: 40px;"} / Месяц
            .d-flex.justify-content-between.mb-3
              %span Поднятие в списке
              %i.fa.fa-check.text-primary.pt-1
            .d-flex.justify-content-between.mb-3
              %span Выделение цветом
              %i.fa.fa-check.text-primary.pt-1
            .d-flex.justify-content-between.mb-3
              %span Поддержка 24/7
              %i.fa.fa-check.text-primary.pt-1
            .d-flex.justify-content-between.mb-2
              %span VIP публикация
              %i.fa.fa-check.text-primary.pt-1
            %a.btn.btn-primary.py-2.px-4.mt-4{:href => ""} Заказать сейчас
/ Pricing Plan End
