%h2
  Search Results for:
  %i= params[:term]
- if @posts
  %ul.search_results
    - @posts.with_details.each do |post, details|
      %li
        %h3
          = link_to post.title, controller: "posts", action: "show", id: post.id
        %p
          = details[:highlight][:text].html_safe
          \...
- else
  %p Your search did not match any documents.
