%li
  = link_to customer.name, customer
  - if current_customer.admin? && !current_customer?(customer)
    | #{link_to "delete", customer, method: :delete, data: { confirm: "You sure?" }}
    | #{link_to "blacklist", customer, method: :add_to_blacklist, data: { confirm: "You sure?" }}
