= form_for(current_customer.active_relationships.find_by(followed_id: @customer.id), |
  html: { method: :delete }, remote: true) do |f|                                         |
  = f.submit "Перестать читать", class: "btn"
