- provide(:title, 'All customers')
%h1 All customers
%ul.customers
  - @customers.each do |customer|
    %li
      = gravatar_for customer, size: 50
      = link_to customer.name, customer
      - if current_customer.admin? && !current_customer?(@customer)
        = link_to 'Удалить', customer, method: :delete, data: { confirm: 'Are you sure?' }
