- provide(:title, @customer.name)
.row
  %aside.col-md-4
    %section.user_info
      %h1
      %p Name:
      %b= @customer.name
      %p Email
      %b= @customer.email
      %p Phone
      %b= @customer.cell

%h2 Создать новое объявление
