- provide(:title, 'Страница оплаты')
%h2 Ожидают оплаты:
= raw pagy_bootstrap_nav(@pagy).html_safe
- @rooms.each do |room|
  = link_to room.name
  = link_to 'Оплатить', payments_new_path, class: 'btn btn-sm btn-outline-primary'
  %br
%br
= raw pagy_bootstrap_nav(@pagy).html_safe
