%h1 Telegagid

%p Привет,
  = @customer.name!

%p
Добро пожаловать на Telegagid! Перейдите по ссылке для активации аккаунта:


= link_to "Activate", edit_account_activation_url(@customer.activation_token,
                                                    email: @customer.email)
