%h1 New Blog

%p Привет,
  = @customer.name!

%p
Добро пожаловать в Учебное Приложение! Перейдите по ссылке для активации аккаунта:


= link_to "Activate", edit_account_activation_url(@customer.activation_token,
                                                    email: @customer.email)
