%h1 Сброс пароля

%p Для сброса пароля перейдите по ссылке:

= link_to "Reset password", edit_password_reset_url(@customer.reset_token,
                                                      email: @customer.email)

%p Срок действия ссылки истекает через два часа.

%p
Если вы не запрашивали сброс пароля, пожалуйста игнорируйте это письмо, ваш пароль
останется без изменений.
