- provide(:title, 'Message')
.message.mb-2
  .content-container
    .author
      - if post.customer == current_customer
        = 'вы'
      - else
        | #{link_to post.customer.name, customer_path}
      .content
        = post.content
        - if post.customer_id == current_customer.id || current_customer.admin?
          = link_to 'Удалить', post, method: :delete
