@media screen and (max-width: 1280px) {
  div.contentblock {width: 1200px;}
  }
@media screen and (max-width: 1140px) {
   div.contentblock {width: 1024px;}
  }
@media screen and (max-width: 992px) {
   div.contentblock {width: 970px;}
  }

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
/********** Template CSS **********/
:root {
    --primary: #06A3DA;
    --secondary: #34AD54;
    --light: #EEF9FF;
    --dark: #091E3E;
}
body {
  background: linear-gradient(to right, pink, blue);
  color: #000;
}

text {
  display: hidden;
}
.mimage {
  display: inline-block;
  width: 75%;
  height: 75%;
  margin-left: 15%;
  margin-top: 12%;
}
@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 800 !important;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 700 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 600 !important;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn-primary,
.btn-secondary {
    color: #FFFFFF;
    box-shadow: inset 0 0 0 50px transparent;
}

.btn-primary:hover {
    box-shadow: inset 0 0 0 0 var(--primary);
}

.btn-secondary:hover {
    box-shadow: inset 0 0 0 0 var(--secondary);
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 30px;
    height: 30px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}


/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar-dark .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar-dark .navbar-toggler {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-dark {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link.show,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: var(--dark);
    }

    .navbar-dark .navbar-brand h1 {
        color: var(--primary);
        margin-left: 10% !important;
    }
}

@media (min-width: 992px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }

    .sticky-top.navbar-dark {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-dark .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-dark .navbar-nav .nav-link:hover::before,
    .navbar-dark .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-dark .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .sticky-top.navbar-dark .navbar-brand h1 {
        color: var(--primary);
    }
}

.navbar-nav .dropdown-menu {
  background: white;
  margin-left: 20px;
  .btn {
    width: 160px;
    vertical-align: middle;
    margin-left: 1%;
  }
}
.nb {
  margin-left: -35%;
}
.mod {
  margin-left: 7%;
}
.mod {
  @media (max-width: 900px) {
    display: inline-block;
    margin-left: 15%;
  }
  @media (max-width: 700px) {
    display: inline-block;
    margin-left: 15%;
  }
}
.cntr {
  @media (max-width: 900px) {
  margin-left: 35% !important;
  }
  @media (max-width: 700px) {
  margin-left: 35% !important;
  }
}
.py-0 {
  @media (max-width: 900px) {
  margin-left: 10% !important;
  }
  @media (max-width: 700px) {
  margin-left: 10% !important;
  }
}
/*** Carousel ***/
.carousel-caption {
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(9, 30, 62, .0);
    /*background: linear-gradient(to right, pink, blue);*/
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 14px;
        font-weight: 300 !important;
    }

    .carousel-caption h3 {
        font-size: 20px;
        font-weight: 400 !important;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}
.carouseladds {
  margin-top: 10%;
}

.ad-head {
  text-align: center;
  vertical-align: middle;
}
/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 5px;
    left: 0;
    bottom: 0;
    background: var(--primary);
    border-radius: 2px;
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -75px;
}

.section-title.section-title-sm::before {
    width: 90px;
    height: 3px;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 5px;
    bottom: 0px;
    background: #FFFFFF;
    -webkit-animation: section-title-run 5s infinite linear;
    animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
    width: 4px;
    height: 3px;
}

.section-title.text-center::after {
    -webkit-animation: section-title-run-center 5s infinite linear;
    animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
    -webkit-animation: section-title-run-sm 5s infinite linear;
    animation: section-title-run-sm 5s infinite linear;
}

@-webkit-keyframes section-title-run {
    0% {left: 0; } 50% { left : 145px; } 100% { left: 0; }
}

@-webkit-keyframes section-title-run-center {
    0% { left: 50%; margin-left: -75px; } 50% { left : 50%; margin-left: 45px; } 100% { left: 50%; margin-left: -75px; }
}

@-webkit-keyframes section-title-run-sm {
    0% {left: 0; } 50% { left : 85px; } 100% { left: 0; }
}


/*** Service ***/
.service-item {
    position: relative;
    height: 300px;
    padding: 0 30px;
    transition: .5s;
}

.service-item .service-icon {
    margin-bottom: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    border-radius: 2px;
    transform: rotate(-45deg);
}

.service-item .service-icon i {
    transform: rotate(45deg);
}

.service-item a.btn {
    position: absolute;
    width: 60px;
    bottom: -48px;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
}

.service-item:hover a.btn {
    bottom: -24px;
    opacity: 1;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: #DDDDDD;
    border-radius: 2px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--primary);
}

.testimonial-carousel .owl-item.center {
    position: relative;
    z-index: 1;
}

.testimonial-carousel .owl-item .testimonial-item {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: #FFFFFF !important;
    box-shadow: 0 0 30px #DDDDDD;
}


/*** Team ***/
.team-item {
    transition: .5s;
}

.team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.team-social a.btn {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    opacity: 0;
}

.team-item:hover {
    box-shadow: 0 0 30px #DDDDDD;
}

.team-item:hover .team-social {
    background: rgba(9, 30, 62, .7);
}

.team-item:hover .team-social a.btn:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}

.team-item:hover .team-social a.btn:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .05s;
}

.team-item:hover .team-social a.btn:nth-child(3) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .1s;
}

.team-item:hover .team-social a.btn:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .15s;
}

.team-item .team-img img,
.blog-item .blog-img img  {
    transition: .5s;
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
}

.team-item:hover .team-img img,
.blog-item:hover .blog-img img {
    transform: scale(1.15);
}
.img-litle {
  width: 35px;
  height: 35px;
}

/*** Miscellaneous ***/
@media (min-width: 991.98px) {
    .facts {
        position: relative;
        margin-top: -75px;
        z-index: 1;
    }
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.bg-header {
    background: linear-gradient(rgba(9, 30, 62, .7), rgba(9, 30, 62, .7)), url(../carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.link-animated a {
    transition: .5s;
}

.link-animated a:hover {
    padding-left: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  @include box_sizing;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.customers {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
}

.search_results em {
  background-color: yellow;
  font-style: normal;
  font-weight: bold;
}
.chat-room {
  height: 100vh;
  overflow-y: scroll;
  float: right;
  #messages {
    height: 100%;
  }

  .message {
    min-height: 59px;
    .content-container {
      display: inline-block;
      .content {
        background-color: #007bff;
        color: white;
        padding-left: 8px;
        border-radius: 15px;
      }
      .author {
        font-size: 1rem;
        color: #777;
        margin-left: 15px;
      }
    }
    &.me {
      .content-container {
        float: left;
        .content {
          background-color: #007bff;
          color: white;
        }
      }
    }
  }
  .chat-box {
    bottom: -170px;
    position: absolute;
    left: 28%;
    width: calc(75% - 100px);
    background-color: white;
    border-top: 1px solid #eee;
    input[type=text] {
      height: 45px;
      font-size: 18px;
      padding: 8px;
    }
    .btn {
      height: 45px;
    }
  }
  @media (max-width: 900px) {
    .chat-box {
      margin-top: -40%;
      position: absolute;
      bottom: auto;
      width: 75%;
      left: 10%;
    }
  }
  @media (max-width: 700px) {
    .chat-box {
      margin-top: -40%;
      position: absolute;
      bottom: auto;
      width: 75%;
      left: 10%;
    }
  }
  @media (max-width: 597px) {
    .chat-box {
      margin-top: -40%;
      position: absolute;
      bottom: auto;
      width: 75%;
      left: 10%;
    }
  }
}
.card.no-outline {
  border: none;
}

.room-link {
  &:hover {
    text-decoration: none;
  }
  .room-card {
    transition: background-color 0.5s ease;
    border-radius: 20px;
    &:hover {
      background-color: #eee;
    }
    &.active {
      background-color: black;
      .name {
        color: white;
      }
    }
    .name {
      font-weight: bold;
    }
  }
}
.rooms-sidebar {
  border-right: 1px solid #eee;
  @media (max-width: 900px) {
    display: contents;
    .room-card {
      margin-top: 30px;
    }
  }
  @media (max-width: 700px) {
    display: contents;
    .room-card {
      margin-top: 30px;
    }
  }
  @media (max-width: 597px) {
    display: contents;
    .room-card {
      margin-top: 30px;
    }
  }
}
body {
  ::-webkit-scrollbar{
    display: none;
  }
  -ms-overflow-style: none;
}

table thead tr th td {
  width: 1% !important;
  &.act {
    width: 10%;
  }
}
.filter {
  @media (max-width: 900px) {
    font-size: 0.8rem;
  }
  @media (max-width: 700px) {
    font-size: 0.7rem;
  }
}
.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid lightgrey;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}
.seacrhfrom {
  width: 70%;
  height: 45px;
  background: lightcyan;
  border: #084fdc29;
  border-radius: 15px 5px 5px 15px;
}
.searchbtn {
  border-radius: 5px 15px 15px 5px;
  width: 25%;
  height: 45px;
  background: deepskyblue;
  font-family: cursive;
  font-size: inherit;
}
.img-show {
  display: block;
  margin-bottom: 2em;
  margin-top: 15px;
  @media(max-width: 844px) {
    width: 75%;
  }
  @media(max-width: 644px) {
    width: 75%;
  }
}
.img-s-show {
  display: block;
  margin-left: 5%;
  margin-bottom: 2em;
  margin-top: 15px;
  @media(max-width: 844px) {
    width: 300px;
  }
  @media(max-width: 644px) {
    width: 250px;
  }
}
.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}
.customers {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
  }
}
.thumb {
  float: left;
  margin-right: 1em;
  @media(max-width: 844px) {
    display: contents;
    margin-top: 1em;
  }
  @media(max-width: 644px) {
    display: contents;
    margin-top: 1em;
  }
}
.head-title {
  text-align: center;
}
#navbarDropdown {
  padding: 0px !important;
  color: #4fad55;
  margin-top: -10px;
  width: 45px;
  height: 38px;
  border: none;
  @media(max-width: 900px) {
    margin-left: 28%;
    margin-top: 10px;
  }
  @media(max-width: 700px) {
    margin-left: 28%;
    margin-top: 10px;
  }
}
.usr-img {
  width: 45px;
  height: 38px;
}
.btn {
  width: 150px;
}
.navbar-nav .dropdown-menu {
  margin-left: 0 !important;
  background: #091e3e;
}
.dropdown-item {
  color: #4fad55;
  @media(max-width: 844px) {
    margin-left: 0;
  }
}
.dropdown-menu {
  background-color: #091e3e !important;
}
.navright {
  margin-left: 15%;
  @media(max-width: 844px) {
    margin-left: 15%;
  }
}
.img-sm {
  width: 50px;
  height: 50px;
}
.big_size {
  width: 120%;
  height: 120%;
}
#red {
  margin-left: 15px;
}
.form-check-label {
  text-decoration: bold;
}
.text-over {
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.room-view {
  width: 33%;
  background-color: black;
  color: wheat;
  border: 2px solid white;
  text-align: left;
  @media(max-width: 844px) {
    flex: 1 2 auto;
    width: 45%;
  }
}
