.container-fluid.bg-dark.px-5.d-block
  .row.gx-0
    .col-lg-4.text-center.text-lg-end
      .d-inline-flex.align-items-center{:style => "height: 45px;"}

      / Topbar End
  %nav.navbar.navbar-expand-lg.navbar-dark.py-lg-0.mod
    %a.navbar-brand.p-0{:href => root_path}
      %h1
        %i.fas.fa-user-tie
        TelegaGid
    = form_tag results_path, method: :get, role: 'search' do
      = text_field_tag :query, params[:query], class: 'seacrhfrom'
      = submit_tag "Go!", name: nil, class: 'searchbtn'
    - if logged_in?
      %button.navbar-toggler.cntr{"data-bs-target" => "#navbarCollapse", "data-bs-toggle" => "collapse", :type => "button"}
        %span.fas.fa-bars
      #navbarCollapse.collapse.navbar-collapse
        .navbar-nav.py-0{:style => 'margin-left: 45%'}
          .nav-item.dropdown-menu
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle.btn.btn-outline-success{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %i.far.fa-user
            .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              %a.dropdown-item{:href => customer_path(current_customer)} Профиль
              %a.dropdown-item{:href => posts_path} Сообщения
              %a.dropdown-item{:href => rooms_path} Объявления
              %a.dropdown-item{:href => microposts_path} Посты
              %a.dropdown-item{:href => telechannels_path} Каналы
              %a.dropdown-item{:href => '../find'} Поиск
              .dropdown-divider
              %a.dropdown-item
                %a#red= link_to "Выйти", logout_path, method: "delete"
          /- if current_customer.admin? && !current_customer?(@customer)
    - else
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle.btn.btn-outline-success{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.far.fa-user.navright
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item{:href => login_path} Войти!
          %a.dropdown-item{:href => signup_path} Зарегистрироваться!
